<div class=" container text-center">
    <br>
    <div class="title">
        Select a theme
    </div>
    <br>
    <div>
        <button type="button" class="btn custom-button" (click)="defaultTheme()"> Default Theme</button>
        &nbsp;&nbsp;&nbsp;
        <button type="button" class="btn custom-button" (click)="theme1()"> Light Theme</button>
        &nbsp;&nbsp;&nbsp;
        <button type="button" class="btn custom-button" (click)="theme2()"> Dark Theme</button>
    </div>
    <br>
    <div class="magic-box">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ea velit temporibus cum at molestias, ab, eligendi
        magnam voluptas consequatur saepe impedit repellendus aliquam deserunt nihil quisquam placeat sit quis.
    </div>

</div>